<h1>Food</h1>
<div class="menu">
    <div *ngFor="let item of dishItems" class="card">
      <img [src]="item._id ? getImageUrl('dish', item._id) : ''" alt="{{item.name}}">
      <div class="details">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <p class="price">{{item.price}}</p>
      </div>
    </div>
</div>
<h1>Drinks</h1>
<div class="menu">
    <div *ngFor="let item of drinkItems" class="card">
      <img [src]="item._id ? getImageUrl('drink', item._id) : ''" alt="{{item.name}}">
      <div class="details">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <p class="price">{{item.price}}</p>
      </div>
    </div>
</div>